@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:root {
    /* Neutrals */
    --black: hsl(0, 0%, 7%);
    --dark-blue: hsl(219, 29%, 14%);
    --white: hsl(0, 0%, 100%);
    --grey-100: hsl(214, 17%, 92%);
    --grey-200: hsl(0, 0%, 81%);
    --grey-400: hsl(224, 10%, 45%);
    --grey-500: hsl(217, 19%, 35%);

    /* Purples */
    --purple-50: hsl(260, 100%, 95%);
    --purple-300: hsl(264, 82%, 70%);
    --purple-500: hsl(263, 55%, 52%);

    /* Spacing */
    --spacing-500: 40px;
    --spacing-400: 32px;
    --spacing-300: 24px;
    --spacing-200: 16px;
    --spacing-100: 8px;
    --spacing-50: 4px;
}
* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
h1, .text-presest-1 {
    font-size: 20px;
    font-weight: 600;
    line-height: 120%;
}
p, .text-preset-3 {
    line-height: 140%;
}
.byline, .text-preset-4 {
    font-size: 11px;
}
body {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: hsl(300, 5%, 96%);
    color: var(--grey-400);
    letter-spacing: 0px;
    line-height: 110%;
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-size: 13px;
    font-weight: 500;
}
main {
    max-width: 1114px;
    max-height: 582px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr 1fr;
    grid-gap: var(--spacing-400);
}
.card {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-200);
    border-radius: 8px;
    padding: var(--spacing-400);
    background-color: var(--white);
    box-shadow: 40px 60px 50px hsla(217, 19%, 35%, 24.7%);  
}
.card header {
    display: flex;
    gap: var(--spacing-200);
    align-items: center;
}
.student-icon {
    height: 28px;
    width: 28px;
    border-radius: 28px;
}
.student-info {
    display: flex;
    flex-direction: column;
}
#purple {
    grid-column: 1 / span 2;
    color: var(--purple-50);
    background-color: var(--purple-500);
}
#purple h1, #grey h1 {
    color: var(--white);
}
#grey {
    color: var(--grey-100);
    background-color: var(--grey-500);
}
#dark-blue {
    grid-column: 2 / span 2;
    color: var(--grey-100);
    background-color: var(--dark-blue);
}
#dark-blue h1 {
    color: var(--grey-200);
}
#dark-blue .student-icon, #purple .student-icon {
    border: 2px solid var(--purple-300);
}
#white-1 {
    grid-row: 2;
}
#white-2 {
    grid-column: 4;
    grid-row: 1 / span 2;
}
.attribution { 
    margin-top: var(--spacing-500);
    font-size: 11px; 
    text-align: center; }
.attribution a { 
    font-size: 11px; 
    color: var(--purple-500); 
}